#container_about {
  padding: 0 100px;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  h2 {
    margin-bottom: 1rem;
    border-bottom: 3px solid #276880;
    padding-bottom: 0.5rem;
    font-size: 1.8rem;
    color: $font-ligth;
  }

  .info_about {
    align-self: center;
    display: flex;
    margin-top: 80px;
    justify-content: center;
    img {
      width: 20rem;
      height: 20rem;
      align-self: center;
      border-radius: 8px;
      z-index: 40;
    }
    h3 {
      font-size: 1.4rem;
      color: $font-ligth;
    }
    p {
      font-size: 1.2rem;
      margin: 0.5rem 0;
      color: $font-ligth;
    }
    ul {
      list-style-type: none;
      li {
        font-size: 1.2rem;
        color: $font-ligth;
      }
    }
    div {
      align-self: center;
      width: 50%;
      display: flex;
      justify-content: center;
      p {
        color: $font-ligth;
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #container_about {
    background-color: $base-color;

    margin-top: 0;
    padding: 35px 15px;
    flex-direction: column;
    h2 {
      margin: 0;
      margin-bottom: 15px;
      text-align: center;
      width: auto;
      font-size: 40px;
    }

    .info_about {
      flex-direction: column;
      margin-top: 20px;
      img {
        margin: 0;
        width: 320px;
        height: 300px;
      }
      div {
        width: 100%;
        p {
          width: 100%;
          text-align: center;
          font-size: 18px;
        }
        ul {
          display: none;
        }
      }
    }
  }
}
