#container_contact {
  margin-top: 50px;
  padding: 0 100px;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  div {
    z-index: 20;
  }
  h2 {
    color: $font-ligth;
    border-bottom: 3px solid #276880;
    padding-bottom: 0.5rem;
    font-size: 1.8rem;
    color: $font-ligth;
  }
  .contact {
    align-self: center;
    display: flex;
    color: $font-ligth;
    align-items: center;
    height: 500px;

    .container_form {
      margin-left: 4rem;
      width: 470px;
      align-self: flex-end;
      margin-left: 180px;
      z-index: 40;
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        #submit_recaptcha {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
          #recaptcha {
            min-width: 300px;
          }
        }
      }
      .inputs {
        display: flex;
        margin-bottom: 15px;
        div {
          display: flex;
          flex-direction: column;
        }
        input {
          width: 225px;
          background-color: $base-color;
          color: white;
          border-radius: 5px;
          &::placeholder {
            color: $font-ligth;
          }
        }
      }
      .input-name {
        background-color: $base-color;
        margin-right: 1rem;
      }
      .input-subject {
        margin-bottom: 1rem;
        width: 465px;
        background-color: $base-color;
        color: white;
        border-radius: 5px;

        &::placeholder {
          color: $font-ligth;
        }
      }
      .container_textarea {
        display: flex;
        flex-direction: column;
        .textarea-message {
          width: 465px;
          height: 200px;
          background-color: $base-color;
          resize: none;
          color: white;
          border-radius: 5px;
          &::placeholder {
            color: $font-ligth;
          }
        }
      }
      .buttonSubmit {
        margin-top: 10px;
        background-color: $secondary-color;
        color: $font-ligth;
        border: none;
        width: 140px;
        align-self: flex-start;
        padding: 10px;
        margin-right: 5px;
        border-radius: 4px;
        transition: 0.3s;
        &:hover {
          background-color: #00435b;
          transform: scale(1.1);
          cursor: pointer;
        }
      }
      .disableButton {
        opacity: 0.5;
        &:hover {
          transform: scale(1);
          cursor: auto;
          font-weight: lighter;
          background-color: $secondary-color;
        }
      }
      span.errors {
        color: rgb(255, 86, 86);
      }
      .errorsInputs {
        border: 1.5px solid rgb(255, 86, 86);
      }
    }
    .location {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 1.5rem;
      z-index: 20;
      .location-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $secondary-color;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        transition: 0.2s;
        z-index: 40;

        &:hover {
          background-color: $font-ligth;
          svg {
            fill: $secondary-color;
          }
        }
        svg {
          fill: $font-ligth;
          width: 25px;
          height: 25px;
        }
      }
      .location-text {
        margin-left: 0.5rem;
        h4 {
          margin: 0;
          font-size: 1.2rem;
        }
        p {
          margin: 0;
        }
      }
    }
    .email {
      display: flex;
      align-items: center;
      z-index: 20;

      .email-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $secondary-color;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        transition: 0.2s;
        z-index: 40;

        &:hover {
          background-color: $font-ligth;
          svg {
            fill: $secondary-color;
          }
        }
        svg {
          fill: $font-ligth;

          width: 25px;
          height: 25px;
        }
      }
      .email-text {
        margin-left: 0.5rem;
        h4 {
          margin: 0;
          font-size: 1.2rem;
        }
        p {
          margin: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  #container_contact {
    background-color: $base-color;
    margin-top: 0;
    padding: 25px 0;
    margin-bottom: 5px;
    h2 {
      width: auto;
      text-align: center;
      font-size: 40px;
    }
    .contact {
      flex-direction: column;
      align-items: center;
      height: 100%;

      form {
        #submit_recaptcha {
          flex-direction: column;
        }
      }
      .location {
        margin-top: 10px;

        .location-icon {
          width: 50px;
          height: 50px;
          svg {
            height: 30px;
            width: 30px;
          }
        }
        .location-text {
          h4 {
            font-size: 25px;
          }
          p {
            font-size: 20px;
          }
        }
      }
      .email {
        .email-icon {
          width: 50px;
          height: 50px;
          svg {
            height: 30px;
            width: 30px;
          }
        }
        .email-text {
          h4 {
            font-size: 25px;
          }
          p {
            font-size: 14px;
          }
        }
      }
      .container_form {
        margin-left: 0;
        width: 100%;
        margin-top: 25px;
        .inputs {
          display: flex;
          flex-direction: column;
          margin: 0;
          input {
            width: 260px;
            margin: 0;
            margin-bottom: 5px;
          }
        }
        form {
          align-items: center;

          .input-subject {
            width: 260px;
            margin-bottom: 5px;
          }
          .container_textarea {
            .textarea-message {
              width: 300px;
            }
          }

          .buttonSubmit {
            align-self: center;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1270px) {
  #container_contact {
    padding: 35px 30px;

    .contact {
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      .container_form {
        margin: 0;
        margin-top: 30px;
      }
    }
  }
}
