.container_detail {
  background-color: #1e3163;
  display: flex;
  height: auto;
  border-radius: 5px;
  .closeModal {
    position: absolute;
    top: 3px;
    right: 3px;
    margin: 6px 6px 0 0;
    button {
      background-color: $font-ligth;
      transform: scale(1.3);
    }
  }
  .project {
    height: 100%;
  }
  .detail_Proyect {
    padding: 18px;
    .details {
      height: 100%;
      display: flex;
      align-items: flex-start;
      padding: 2rem 2rem 0 2rem;
      .gallery_detail {
        width: 60%;
        height: auto;
        box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.277);
        .mobile_captures {
          width: 35%;
          height: 380px;
          margin-left: 225px;
        }
        img {
          width: 125px;
          height: 320px;
        }
      }
      .detail_info {
        align-self: center;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .links {
          display: flex;
          flex-direction: column;
          padding-top: 15px;

          a {
            text-decoration: none;
            font-weight: bold;
            color: white;
            transition: 0.5s;
            svg {
              height: 2.5rem;
              width: 2.5rem;
              margin-right: 5px;
              fill: rgba(255, 255, 255, 0.383);
            }
            &:hover {
              transform: scale(1.1);
              padding-bottom: 3px;
              text-decoration: underline 1px white;
              svg {
                fill: white;
              }
            }
          }
        }
        .title_proyect {
          color: $font-ligth;
          font-size: 1.5rem;
          border-bottom: 1px solid $secondary-color;
        }
        p {
          padding: 10px 1.5rem;
          color: $font-ligth;
        }
      }
    }
  }
  .title_tecnologies {
    text-align: center;
    color: $font-ligth;
    text-decoration: underline 2px $secondary-color;
    padding-bottom: 3px;
  }
  .project {
    display: flex;
    flex-direction: column;
  }
  .container_img-tecnologies {
    display: flex;
    justify-content: space-around;
    padding-top: 32px;
    order: 2;
    .container_img-tecs {
      display: flex;
      flex-direction: column;
      align-items: center;
      .imgAuth0 {
        width: 90px;
        height: 2.8rem;
      }
      .resizeImgTechs {
        width: 6rem;
        height: 45px;
      }
      span {
        font-size: 1.2rem;
        color: $font-ligth;
        text-decoration: underline 2px $secondary-color;
        margin-bottom: 7px;
      }
      img {
        filter: grayscale(1);
        opacity: 0.6;
        width: 4.5rem;
        height: 4rem;
        transition: 0.5s;
        &:hover {
          filter: grayscale(0);
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container_detail {
    overflow: scroll;
    height: auto;
    .closeModal {
      position: absolute;
      top: 1px;
      right: 1px;
      margin: 3px 3px 0 0;
      z-index: 5;
      button {
        background-color: $font-ligth;
        transform: scale(1);
      }
    }
    .detail_Proyect {
      padding: 1px;
      .project {
        display: flex;
        flex-direction: column;
        height: auto;
      }
      .container_img-tecnologies {
        order: 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 15px;
        gap: 10px;
        img {
          filter: grayscale(0);
          opacity: 1;
        }
      }
      .details {
        flex-direction: column;
        padding: 20px 20px 0 20px;
        .gallery_detail {
          margin-top: 15px;
          width: 100%;
          height: auto;
          .mobile_captures {
            width: 80%;
            height: 400px;
            margin-left: 25px;
          }
          img {
            height: 200px;
          }
        }
        .detail_info {
          width: 100%;
          margin-top: 20px;
          h2 {
            text-align: center;
          }
          p {
            padding: 10px 0 0 0;
            text-align: center;
          }
          .links {
            margin-bottom: 15px;
            a {
              text-decoration: underline 0.5px $font-ligth;
              svg {
                fill: white;
              }
            }
          }
        }
      }
    }
  }
}
