.container_footer {
  height: 250px;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  h2 {
    color: $font-ligth;
    text-align: center;
    font-size: 2.5rem;
  }
  .quote {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    p {
      align-self: center;
      color: $font-ligth;
      text-align: center;
    }
    .film {
      width: auto;

      align-self: flex-end;
    }
  }
  .socialMedias {
    align-self: center;
    a {
      svg {
        fill: $font-dark;
        width: 50px;
        height: 50px;
        margin-right: 1.5rem;
        transition: 0.5s;
        &:hover {
          transform: scale(1.1);
          fill: ghostwhite;
        }
      }
    }
    #downloadCV {
      span {
        display: none;
      }
    }
  }
  .arrowUp {
    position: absolute;
    right: 0;
    z-index: 5;
    bottom: 0;
    background-color: $font-ligth;
    padding: 15px;
    border-radius: 50%;
    margin: 0 10px 10px 0;
    opacity: 0.6;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
      opacity: 1;
    }
  }
}

@media screen and (max-width: 600px) {
  .container_footer {
    height: auto;
    padding: 35px 0;
    .quote {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 85%;
      p {
        align-self: center;
        color: $font-ligth;
        text-align: center;
      }
      .film {
        width: auto;

        align-self: flex-end;
      }
    }
    .socialMedias {
      a {
        svg {
          margin-right: 10px;
          fill: white;
        }
        .svgCV {
          margin-right: 0;
        }
      }
    }
    .arrowUp {
      opacity: 0.6;
      transform: scale(0.7);
      margin: 0 3px 3px 0;
    }
  }
}
