.container_footer {
  background-color: #000b26;
  height: 250px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
  h2 {
    color: $font-ligth;
    text-align: center;
    font-size: 2.5rem;
  }
  .quote {
    display: flex;
    flex-direction: column;
    p {
      color: $font-ligth;
      text-align: center;
    }
    .film {
      align-self: flex-end;
    }
  }
  .socialMedias {
    align-self: center;
    a {
      svg {
        fill: #002b99;
        width: 50px;
        height: 50px;
        margin-right: 1.5rem;
        transition: 0.5s;
        &:hover {
          transform: scale(1.1);
          fill: ghostwhite;
        }
      }
    }
  }
  .arrowUp {
    position: absolute;
    right: 0;
    z-index: 5;
    bottom: 0;
    background-color: $font-ligth;
    padding: 15px;
    border-radius: 50%;
    margin: 0 10px 10px 0;
    opacity: 0.6;
  }
}

@media screen and (max-width: 600px) {
  .container_footer {
    background-color: $secondary-color;
    height: auto;
    .socialMedias {
      a {
        svg {
          margin-right: 10px;
          fill: black;
        }
        .svgCV {
          margin-right: 0;
        }
      }
    }
  }
}
