#container_home {
  background-image: url("./../../public/assets/prueba2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  width: 183vh;
  height: 100vh;
  background-color: $base-color;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 120px;
  h1 {
    color: $font-ligth;

    margin: 0;
    font-size: 5rem;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    color: $font-ligth;
    span {
      color: #4343ff;
    }
  }
  .container_typing {
    display: flex;
    .type-wrap {
      margin-left: 0.5rem;
    }
    .typed-cursor {
      opacity: 1;
      animation: typedjsBlink 0.7s infinite;
      -webkit-animation: typedjsBlink 0.7s infinite;
      animation: typedjsBlink 0.7s infinite;
    }
    @keyframes typedjsBlink {
      50% {
        opacity: 0;
      }
    }
    @-webkit-keyframes typedjsBlink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .typed-fade-out {
      opacity: 0;
      transition: opacity 0.25s;
      -webkit-animation: 0;
      animation: 0;
    }
  }
  .socialMedias {
    a {
      svg {
        fill: $secondary-color;
        width: 25px;
        height: 25px;
        margin-right: 1.7rem;
        transition: 0.5s;
        &:hover {
          transform: scale(1.1);
          fill: white;
        }
      }
    }
  }
}
