#container_landing {
  display: flex;
  justify-content: space-around;

  h1 {
    color: $font-ligth;

    margin: 0;
    font-size: 75px;
    margin-left: -4px;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: $font-ligth;
    span {
      color: #4343ff;
    }
  }
  #imgLanding {
    z-index: 99;

    img {
      width: 500px;
    }
  }
  #textLanding {
    display: flex;
    flex-direction: column;
    align-self: center;
    .container_typing {
      display: flex;
      .typing {
        margin-left: 7px;
      }
      .typed-cursor {
        opacity: 1;
        animation: typedjsBlink 0.7s infinite;
        -webkit-animation: typedjsBlink 0.7s infinite;
        animation: typedjsBlink 0.7s infinite;
      }

      .typed-fade-out {
        opacity: 0;
        transition: opacity 0.25s;
        -webkit-animation: 0;
        animation: 0;
      }
    }
    .socialMedias {
      display: grid;
      grid-template-columns: repeat(3, 0.1fr);
      gap: 25px;
      z-index: 99;

      a {
        svg {
          fill: $secondary-color;
          width: 25px;
          height: 25px;

          transition: 0.5s;
          &:hover {
            transform: scale(1.1);
            fill: white;
          }
        }
      }
      a#downloadCV {
        background-color: $secondary-color;
        display: flex;
        width: 150px;
        text-decoration: none;
        color: white;
        padding: 10px;
        border-radius: 5px;
        grid-column: span 3;
        font-size: 13px;
        align-items: center;
        justify-content: center;
        color: $base-color;
        font-weight: bolder;
        transition: 0.3s all;
        svg {
          fill: $base-color;
          margin-right: 8px;
        }
        &:hover {
          background-color: $font-ligth;
          transform: scale(1.05);
          font-size: 14px;
          font-weight: bolder;
        }
      }
    }
  }
}
@keyframes typedjsBlink {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  #container_landing {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    #textLanding {
      position: absolute;
      z-index: 5;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        color: $base-color;
        font-size: 50px;
      }
      p {
        color: $base-color;
        font-size: 30px;
      }
      span {
        color: $secondary-color;
      }
      .socialMedias {
        a {
          svg {
            fill: $base-color;
            width: 30px;
            height: 30px;
          }
        }
      }
    }
    #imgLanding {
      img {
        width: 100%;
        opacity: 0.4;
        height: 90vh;
      }
    }
  }
}
