.container_navbar {
  width: 6rem;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  position: sticky;
  left: 0;
  top: 0;

  .navbar {
    display: flex;
    align-content: center;
    width: 5rem;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      padding: 0 0 0 0.5rem;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0.5rem 0;
        border-radius: 100%;
        width: 3.5rem;
        height: 3.5rem;
        transition: 0.3s;
        padding-right: 0.2rem;
        a {
          text-decoration: none;
          color: $font-ligth;
          display: flex;
          margin-left: 0.2rem;
        }
        span {
          display: none;
          margin-left: 0.5rem;
        }
        &:hover {
          background-color: $secondary-color;
          border-radius: 20px;
          width: 110px;
          cursor: pointer;
          svg {
            fill: #dae0ff;
          }
        }
        svg {
          width: 20px;
          height: 20px;
          fill: white;
        }

        &:hover > a span {
          display: block;
        }
      }
      .active {
        background-color: $secondary-color;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .container_navbar {
    width: 0;
    transition: 0.3s;
    .navbar {
      width: 0;
      ul {
        width: 0;
        .scrollto,
        .scrollto.active {
          display: none;
          width: 0;
          margin: 0;
          padding: 0;
          span {
            width: 0;
            display: none;
          }
          svg {
            width: 0;
          }
        }
      }
    }
    &.showNav {
      display: flex;
      position: fixed;
      z-index: 6;
      width: 100%;
      background-color: $base-color;
      transition: 1s;
      .navbar {
        width: 100%;
        justify-content: center;
        ul {
          width: auto;
          .scrollto.resumenNav {
            display: none;
          }
          .scrollto {
            display: flex;

            width: 180px;
            border-radius: 25px;
            margin: 15px;

            background-color: #276880;
            a {
              display: flex;
              span {
                width: auto;

                display: block;
                background-color: $secondary-color;
                border-radius: 25px;
                cursor: pointer;
              }
              svg {
                width: 20px;
                fill: #dae0ff;
              }
            }
          }
        }
      }
    }
  }
}
