#container_portfolio {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  margin-top: 6rem;
  position: relative;
  .portfolio_title {
    color: $font-ligth;
    border-bottom: 3px solid #276880;
    padding-bottom: 0.5rem;
    font-size: 1.8rem;
    color: $font-ligth;
  }
  .portfolio_text {
    color: $font-ligth;
  }
  .container_projects {
    //TODO: hacerlo por grids
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  #container_portfolio {
    background-color: $base-color;
    margin-top: 0;
    padding: 35px 10px;

    .portfolio_title {
      margin: 0;
      margin-bottom: 15px;
      text-align: center;
      width: auto;
      font-size: 40px;
    }
    .portfolio_text {
      font-size: 18px;
      text-align: center;
    }
    .container_projects {
      flex-direction: column;
      align-items: center;
      .cards_proyects {
        width: 320px;
        height: 220px;
      }
      .inProgres {
        width: 320px;
        height: 220px;
      }
    }
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  #container_portfolio {
    padding: 35px 30px;
  }
}
