@import "variables";
@import "navbar";
@import "home";
@import "portfolio";
@import "projects";
@import "resume";
@import "about";
@import "contact";
@import "detailProyect";
@import "footer";

.App {
  display: flex;
  background-color: $base-color;
}
* {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
