@import "bootstrap/dist/css/bootstrap.min.css";
@import "variables";
@import "navbar";
@import "landing";
@import "portfolio";
@import "projects";
@import "resume";
@import "about";
@import "contact";
@import "detailProyect";
@import "footer";

* {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.container_main {
  display: flex;
  background-color: $base-color;
  #container_components {
    width: 95%;
  }
}

.responsive_nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.669);
  border-radius: 100%;
  padding: 5px;
  border: none;
  margin: 5px 5px 0 0;
  display: none;
}
#tsparticles {
  z-index: 0;
}

@media screen and (max-width: 600px) {
  .responsive_nav {
    display: flex;
  }
  .container_main {
    #container_components {
      width: 100%;
    }
  }
}
